<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,900;1,100;1,500;1,600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <h1>About Christiane Amanpour</h1>
    <p>
      Amanpour’s father, an Iranian airline executive, moved the family to
      Tehrān shortly after her birth. Politically connected and wealthy, the
      Amanpours led a privileged life in Iran. At age 11, Amanpour was sent back
      to England to attend the Holy Cross Convent School in Buckinghamshire. She
      stayed at Holy Cross until she was 16, when she went to the exclusive New
      Hall School, the oldest Roman Catholic girls’ school in the United
      Kingdom. In January 1979 the Islamic revolution in Iran toppled the shah,
      forcing many of his followers to leave the country, the Amanpour family
      among them. Her father lost everything he had owned in Iran. Amanpour
      later credited her desire to be a journalist to this firsthand experience.
    </p>
    <p>
      Amanpour subsequently moved to the United States. She attended the
      University of Rhode Island, graduating with a degree in journalism in
      1983. She went to work for an NBC affiliate in Providence, Rhode Island,
      but in September 1983 she was hired at the fledgling CNN as an assistant
      for the international news desk. By 1986 she was working at CNN’s New York
      City bureau as a producer-correspondent. Amanpour received her big break
      in 1989 when she was promoted to a post in Frankfurt, West Germany. She
      arrived there at an opportune time; the pro-democracy movement was
      sweeping eastern Europe, and Amanpour quickly became CNN’s on-the-spot
      reporter.
    </p>

    <p>
      Amanpour gained distinction in Europe, but it was during the Persian Gulf
      War (1990–91) that she became a familiar face. She covered the conflict
      from the Iraqi invasion of Kuwait to the eventual triumph of the U.S.-led
      coalition. After the war she reported on the Kurdish uprising in northern
      Iraq. In 1992 Amanpour went to Bosnia and Herzegovina to cover the
      outbreak of violence that she thought would become “my generation’s war.”
      Her reporting was credited with bringing the savage nature of that
      conflict to the attention of the world, although some criticized her for
      what they thought was her tendency to editorialize rather than report,
      claiming that she was clearly biased against the Serbs.
    </p>
    <hr />
    <a href="/">Back to Home</a>
    <br />
    <a href="/works">The Work of Christiane Amanpour</a>
  </body>
</html>
