<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,900;1,100;1,500;1,600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <h1>Christiane Amanpour</h1>
    <div class="home-section">
      <p>
        Christiane Amanpour was born January 12, 1958, in London, England. She
        is a journalist who, as a correspondent for CNN, was one of the leading
        war reporters of the late 20th and early 21st centuries.
      </p>
      <p>
        Currently she is CNN's chief international anchor of the network's
        award-winning, flagship global affairs program "Amanpour," which also
        airs on PBS in the United States. She is based in the network's London
        bureau.
      </p>
      <p>
        Amanpour's fearless and uncompromising approach made her popular with
        audiences, and a force to be reckoned with by global influencers.
      </p>
      <img
        src="/images/christiane-amanpour-headshot.jpg"
        alt="Christiane Amanpour portrait"
      />
    </div>
    <hr />
    <a href="/about">About Christiane Amanpour</a>
    <br />
    <a href="/works">The Work of Christiane Amanpour</a>
  </body>
</html>
