<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Works</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,900;1,100;1,500;1,600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <h1>The Work of Christiane Amanpour</h1>
    <p>
      In addition to her work as an anchor and reporter, Amanpour is an active
      rights campaigner. A board member of the Committee to Protect Journalists,
      the Centre for Public Integrity and the International Women's Media
      Foundation, she has used her profile to raise awareness of key global
      issues and journalists' rights. She has interviewed educational rights
      activist Malala Yousafzai for CNN on several occasions -- bringing focus
      to her courage and international advocacy work. In May 2014 she used an
      appearance on BBC television to raise awareness of the plight of the 200
      Nigerian schoolgirls abducted by Boko Haram - asking British Prime
      Minister David Cameron to join the #BringBackOurGirls campaign.
    </p>
    <p>
      CNN Chief International Correspondent Christiane Amanpour has earned every
      major television journalism award, including 11 News and Documentary Emmy
      Awards, four Peabody Awards, two George Polk Awards, three duPont-Columbia
      Awards and the Courage in Journalism Award. She has received nine honorary
      degrees, has been named CBE (a British honor awarded by the Queen of
      England, Commander of the Most Excellent Order of the British Empire) and
      was this year inducted into the Cable Hall of Fame. She is an honorary
      citizen of Sarajevo and a UNESCO Goodwill Ambassador for Freedom of the
      Press and the Safety of Journalists.
    </p>
    <div class="work-stations">
      <img
        src="images/Afghanistan-2001-014.jpg"
        alt="Christiane in Afghan hospital"
        class="work-img"
      />
      <p>
        Conducting an interview in an Afghan hospital, <br />
        2001 Photograph: Noel Quidu/CNN
      </p>
    </div>
    <div class="social-media-section">
      <a href="https://www.instagram.com/camanpour/" class="social-media-links"
        >Follow Christiane on Instagram!</a
      >
      <img
        class="social-media-icon"
        src="/images/instagram-icon.jpeg"
        alt="instagram icon"
      />
    </div>
    <hr />
    <a href="/">Back to Home</a>
    <br />
    <a href="/about">About Christiane Amanpour</a>
  </body>
</html>
